/* ===== Header Navigation ===== */
.header__register {
  display: inline-block;
  padding: 6px 16px;

  font-size: 14px;
  color: #c9b8a7;
  text-decoration: none;

  border: 1px solid #e6dcd2;
  border-radius: 4px;
  background-color: #ffffff;
}

/* ===== Login Button ===== */
.auth__button.auth__button--login {
  display: block;
  margin: 40px auto 0;
  padding: 12px 36px;

  font-size: 14px;
  background-color: #82756b;
  color: #ffffff;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}
